<ion-view>
  <ion-content padding>
    <div class="row row-center" style="
      height: 100%;
      width: 100%;
      ">
      <div class="col">
        <h1 class="text-center">BSAP</h1>
        <br>
        <br>
        <br>
        <button ng-click="login()"
                class="button button-block button-positive"
          >Iniciar sesión</button>
        <button class="button button-clear button-small button-block button-positive">
          Registro
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
